.support {
	transform: translateY(toRem(-50));
	position: relative;
	z-index: 5;

	// .support__container

	&__container {
	}

	// .support__wrapper

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
	}

	// .support__item

	&__item {
	}
}
.item-support {
	flex: 1 1 calc(33.333% - 20px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(20);
	padding: toRem(30);
	background-color: $whiteColor;
	color: #000;
	border-radius: toRem(5);
	transition: color 0.5s ease;
	box-shadow: toRem(0) toRem(5) toRem(15) toRem(0) rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	@media (any-hover: hover) {
		&:not(.item-support--background):hover {
			&::before {
				height: 100%;
			}
			color: $whiteColor;
			svg {
				fill: #fff;
			}
			.item-support__text {
				color: $whiteColor;
			}
			.item-support__link {
				color: $whiteColor;
			}
		}
	}
	@media (max-width: toEm(850)) {
		flex: 1 1 calc(50% - toRem(20));
	}
	@media (max-width: toEm(540)) {
		flex: 1 1 100%;
	}
	&--background {
		background-color: $accent-color;
		.item-support__text,
		.item-support__title {
			color: $whiteColor;
			font-family: "Heebo";
			font-weight: 300;
		}

		&::before {
			display: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		background-color: $accent-color;
		z-index: -1;
		transition: height 0.5s ease;
		border-radius: 5px;
	}

	&__icon {
		svg {
			transition: fill 0.5s ease;
		}
	}

	&__title {
		font-size: toRem(25);
		font-weight: 600;
		transition: color 0.5s ease;
	}

	&__text {
		text-align: center;
		transition: color 0.5s ease;
		flex-grow: 1;
	}

	&__button {
		background-color: #fff;
		color: $accent-color;
		padding: toRem(10) toRem(25);
		text-transform: uppercase;
		font-size: toRem(14);
		border-radius: toRem(5);
		flex-shrink: 0;
		transition:
			background-color 0.3s,
			transform 0.3s ease;
		&:hover {
			transform: translateY(toRem(-5));
		}
	}
	&__link {
		color: $accent-color;
	}
}
