.hero {
	&__swiper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		z-index: 1;

		@media (max-width: toEm(767.98)) {
			min-height: 70vh;
		}
	}

	&__wrapper {
		height: 100%;
	}

	&__slide {
		width: 100%;
		min-height: 100vh;
	}
}

.slide-hero {
	@include adaptiveValue("padding-top", 90, 70);
	@include adaptiveValue("padding-bottom", 90, 50);
	@include adaptiveValue("padding-left", 150, 15);
	padding-right: toRem(15);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: clip;
		background-color: #0a0a0a;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.5;
			z-index: 2;
			@media(max-width: toEm(767.98)){
							opacity: 0.4;

			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transform: scale(1);
			transition:
				transform 3s ease,
				opacity 1.2s ease;
			opacity: 0.95;
		}
	}

	&__content {
		position: relative;
		color: #fff;
		max-width: toRem(600);
		z-index: 5;
	}

	&__title {
		text-transform: uppercase;
		@include adaptiveValue("font-size", 45, 30);
		@include adaptiveValue("line-height", 70, 37);
		font-weight: 700;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 25, 18);
		line-height: toRem(34);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}

	&__button {
	}
}

/*------------------- Swiper slides visibility -------------------*/

/* Приховуємо всі слайди на старті */
.swiper-slide {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
	z-index: 1 !important;
}

/* Відображаємо тільки активний слайд */
.swiper-slide-active {
	opacity: 1;
	visibility: visible;
}

/* Масштабування фонового зображення тільки активного слайду */
.swiper-slide .slide-hero__bg img {
	transform: scale(1);
	opacity: 0.95;
	transition:
		transform 6s ease,
		opacity 1.2s ease;
}

.swiper-slide-active .slide-hero__bg img {
	transform: scale(1.1);
	opacity: 1;
	will-change: transform, opacity;
}
