@use "sass:math";

// Кольори
$accent-color: #1e63d1;
$whiteColor: #ffffff;
$textColor: #5a5959;

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_header.scss";

@import "_swiper.scss";

@import "_hero.scss";

@import "_about.scss";

@import "_service.scss";

@import "_support.scss";

@import "_testimonials.scss";

@import "_projects.scss";

@import "_background.scss";

@import "_contact.scss";

@import "_partners.scss";

@import "_blog.scss";

@import "_footer.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

html {
	scroll-behavior: smooth;

	body {
		font-family: "Inter", sans-serif;
		line-height: 1.2;
		transition: opacity 0.5s ease;

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}

		// Під час завантаження сторінки
		html.loading & {
			opacity: 0;
			overflow: hidden;
		}

		// Коли все завантажено
		html.loaded & {
			opacity: 1;
			overflow: auto;
		}

		&.menu-open {
			overflow: hidden;
			overscroll-behavior: none;
		}
	}
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem(1200);
	padding: 0 toRem(15);
}

.title {
	color: #000;
	@include adaptiveValue("font-size", 38, 24, $widthTo: 767.98);
	font-weight: 700;
	line-height: 1.2em;
	text-transform: capitalize;
	&--white {
		color: $whiteColor;
	}
}
.label {
	color: $accent-color;
	font-weight: 600;
	text-transform: uppercase;
}

.button {
	padding: toRem(15) toRem(30);
	font-size: toRem(18);
	background-color: $accent-color;
	color: #fff;
	border: none;
	font-weight: 500;
	border-radius: toRem(5);
	width: fit-content;
	flex-shrink: 0;
	transition:
		background-color 0.3s,
		transform 0.3s ease;
	&:hover {
		background-color: darken($accent-color, 10%);
		transform: translateY(-5px);
	}
	&--background-white {
		background-color: $whiteColor;
		color: $accent-color;
		border: 2px solid $accent-color;
		&:hover {
			background-color: lighten($accent-color, 40%);
		}
	}
}

.custom-block {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: toRem(40);
	background: $accent-color;
	color: $whiteColor;
	max-width: toRem(340);
	width: 100%;
	overflow: visible;
	transform: translateY(25%);
	opacity: 1;
	transition: transform 0.5s;

	@media (min-width: toEm(1024)) {
		transform: translateY(40%);
		opacity: 0;
		&.visible {
			opacity: 1;
			transform: translateY(25%);
		}
	}

	z-index: 2;
	@media (max-width: toEm(480)) {
		max-width: toRem(250);
		padding: toRem(15);
	}

	&__content {
		position: relative;
		z-index: 2;

		blockquote {
			font-family: "Heebo";
			font-weight: 500;
			font-style: italic;

			cite {
				display: block;
				margin-top: toRem(20);
				font-style: normal;
				font-size: toRem(14);
				font-weight: 300;
			}
		}
	}

	&__decor {
		position: absolute;
		bottom: 0;
		right: 100%;
		width: toRem(50);
		height: toRem(43);
		background-image: linear-gradient(220deg, $accent-color 48%, #ffffff00 26%);
		z-index: 5;
		@media (max-width: toEm(480)) {
			width: toRem(30);
			height: toRem(27);
		}
	}
}
.text {
	color: $textColor;
	font-family: "Heebo";
	font-weight: 300;
	&--white {
		color: $whiteColor;
	}
}

.link {
	color: $accent-color;
	font-weight: 600;
	text-transform: uppercase;
	font-size: toRem(12);
	transition: transform 0.3s;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: toRem(5);
	&--white {
		color: $whiteColor;
	}
	svg {
		flex-shrink: 0;
	}
	&:hover {
		transform: translateY(-5px);
	}
}

@media (min-width: toEm(1024)) {
	.item-support,
	.label,
	.title,
	.item-project,
	.item-blog,
	.partners__item {
		transform: translateY(toRem(20));
		opacity: 0;
		transition: all 0.5s;
		&.visible {
			opacity: 1;
			transform: translateY(toRem(0));
		}
	}
}
